.thumbnails {
    margin-right: 160px;
}

.thumbnails li {
    float: left; 
    width: 260px; 
    height: 190px; 
    list-style-type: none; 
    text-align: center; 
    padding: 1em;
}

.ui-slider-handle {
    cursor: default;
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2;
    background: #CCC;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.6em;
    top: -0.3em;
}

.ui-slider-horizontal {
    height: 0.6em;
    width: 20em;
    top: .2em;
}

.ui-slider {
    position:relative;
    text-align:left;
    
    border: 1px #CCC solid;
    display: inline-block;
}


.popup-buttons {
    position: fixed; 
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    padding: 1em 0 1em 0;

    background: white url(../img/admin/nav-bg.gif) 0 100% repeat-x;
    border-top: 1px solid #ccc;
    overflow: hidden;
}

.popup-buttons input {
    margin-right: 1em;
}