.thumbnails {
    margin-right: 160px;
}

.thumbnails li {
    float: left; 
    width: 260px; 
    height: 190px; 
    list-style-type: none; 
    text-align: center; 
    padding: 1em;
}

.ui-slider-handle {
    cursor: default;
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2;
    background: #CCC;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.6em;
    top: -0.3em;
}

.ui-slider-horizontal {
    height: 0.6em;
    width: 20em;
    top: .2em;
}

.ui-slider {
    position:relative;
    text-align:left;
    
    border: 1px #CCC solid;
    display: inline-block;
}


.popup-buttons {
    position: fixed; 
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    padding: 1em 0 1em 0;

    background: #E0E0E0 !important;
    border-top: 1px solid #ddd !important;
    overflow: hidden;
}

.popup-buttons input {
    margin-right: 1em;
}


/* TODO: Move to media extender */

.focal-point-container {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 888;
}

.focal-point {
    background: url(../img/focal-point.png) no-repeat;
    width: 22px;
    height: 22px;
    position: absolute;
    cursor: pointer;
    z-index: 999;
}




#filenode_form .thumbnail {
    display: block;
    position: relative;
    width: auto;
}

form .caption {
    display: none;
}

.filesize {
    white-space: nowrap;
}

.browse-controls {
    font-size: 110%;
    font-weight: bold;
    white-space: nowrap;
    display: block;
}

.browse-controls a {
    line-height: 16px;
    display: inline-block;
}

.browse-controls a.name {
    margin-left: .5em;
}

.folder {
    width: 16px;
    height: 16px;
    background: url(../img/folder.png) no-repeat;
}

.folder-toggle {
    width: 16px;
    height: 16px;
    background: url(../img/folder-toggle.png) no-repeat;
    display: inline-block;
}

.folder span, .folder-toggle span {
    visibility: hidden;
}

.folder.collapsed {
    background-position: 0 0;
}

.folder.expanded {
    background-position: 0 100%;
}

.folder-toggle.collapsed {
    background-position: 0 0;
}

.folder-toggle.collapsed:hover {
    background-position: 0 100%;
}

.folder-toggle.expanded {
    background-position: 100% 0;
}

.folder-toggle.expanded:hover {
    background-position: 100% 100%;
}

.folder-toggle.loading {
    background-image: url(../img/folder-toggle-loading.gif);
}

.folder-toggle.dummy {
    background-image: none;
}


.ui-state-highlight {
    background: red;
}


.browse-controls .thumbnail {
    border: 1px #999 solid;
    -moz-box-shadow: 0px 1px 3px #999;
    -webkit-box-shadow: 0px 1px 3px #999;
    box-shadow: 0px 1px 3px #999;
    float: none;
}

#changelist td {
    text-align: left !important;
}