.thumbnails {
    margin-right: 160px;
}

.thumbnails li {
    float: left; 
    width: 260px; 
    height: 190px; 
    list-style-type: none; 
    text-align: center; 
    padding: 1em;
}

.ui-slider-handle {
    cursor: default;
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2;
    background: #CCC;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.6em;
    top: -0.3em;
}

.ui-slider-horizontal {
    height: 0.6em;
    width: 20em;
    top: .2em;
}

.ui-slider {
    position:relative;
    text-align:left;
    
    border: 1px #CCC solid;
    display: inline-block;
}


.popup-buttons {
    position: fixed; 
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    padding: 1em 0 1em 0;

    background: #E0E0E0 !important;
    border-top: 1px solid #ddd !important;
    overflow: hidden;
}

.popup-buttons input {
    margin-right: 1em;
}



#filenode_form .thumbnail {
    display: block;
    position: relative;
    width: auto;
}

form .caption {
    display: none;
}

fieldset.hidden {
    display: none !important;
}

.filesize {
    white-space: nowrap;
}

.browse-controls {
    font-size: 110%;
    font-weight: bold;
    white-space: nowrap;
    display: block;
}

.browse-controls a {
    line-height: 16px;
    display: inline-block;
}

.browse-controls .folder-toggle, .browse-controls .preview {
    margin-right: .5em;
}

.folder-toggle {
    width: 16px;
    height: 16px;
    background: url(../img/icons/folder-toggle.png) no-repeat;
    display: inline-block;
}

.folder-toggle span {
    visibility: hidden;
}

.collapsed .folder-toggle {
    background-position: 0 0;
}

.collapsed .folder-toggle:hover {
    background-position: 0 100%;
}

.expanded .folder-toggle {
    background-position: 100% 0;
}

.expanded .folder-toggle:hover {
    background-position: 100% 100%;
}

.loading .folder-toggle {
    background-image: url(../img/icons/folder-toggle-loading.gif);
}

.folder-toggle.dummy {
    background-image: none;
}

.collapsed .icon.expanded {
    display: none;
}

.expanded .icon.collapsed {
    display: none;
}

.ui-state-highlight {
    background: red;
}

.browse-controls .thumbnail, .browse-controls .icon, .browse-controls .thumbnail img, .browse-controls .icon img {
    display: inline-block;
}

.browse-controls .thumbnail {
    float: none;
}

#changelist td {
    text-align: left !important;
}