.thumbnails {
    margin-right: 160px;
}

.thumbnails li {
    float: left; 
    width: 260px; 
    height: 190px; 
    list-style-type: none; 
    text-align: center; 
    padding: 1em;
}

.ui-slider-handle {
    cursor: pointer;
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2;
    background: #CCC;
}

.ui-slider.no-js .ui-slider-handle {
    background: transparent;
}

.ui-slider-handle.ui-state-active {
    background: #AAA !important;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.6em;
    top: -0.3em;
}

.ui-slider a span {
    display: none;
}

.ui-slider.no-js a, .ui-slider.no-js .ui-slider-handle {
    display: inline-block;
    position: relative;
}

.thumbnail-size-slider.ui-slider.no-js .ui-slider-handle {
    width: 20%;
    margin-left: 0;
    margin-right: 0;
}

.ui-slider-horizontal {
    height: 0.6em;
    width: 10em;
    top: .2em;
}

.ui-slider {
    position:relative;
    text-align:left;
    
    border: 1px #CCC solid;
    display: inline-block;
    cursor: pointer;
}

.view-options {
    font-size: 10px;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -2.4em;
    margin-bottom: -2em;
    margin-right: 0px;
    width: 115px;
}

.thumbnail-size-slider {
    width: 100px;
}

.object-tools.with-view-options {
    margin-right: 120px;
}

.view-options li {
    display: block;
    float: left;
    padding: 0 0 0 8px;
    margin-left: 2px;
    height: 16px;
}

.popup-buttons {
    position: fixed; 
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    padding: 1em 0 1em 0;

    background: #E0E0E0 !important;
    border-top: 1px solid #ddd !important;
    overflow: hidden;
}

.popup-buttons input {
    margin-right: 1em;
}

form.add-folder input[type=submit].default {
    float: none;
}

#filenode_form .thumbnail {
    display: block;
    position: relative;
    width: auto;
}

form .caption {
    display: none;
}

fieldset.hidden {
    display: none !important;
}

.filesize {
    white-space: nowrap;
}

.object-tools li.target-folder {
    background: none;
    margin-right: 1em;
}

ul.node-tools {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

ul.node-tools li {
    display: inline-block; 
    margin: 0 1em 0 0;
    padding: 0;
    list-style-type: none;
}

ul.node-tools li:last-child {
    margin: 0;
}

#changelist .metadata {
    position: relative;
    display: inline-block;
}

#changelist td {

    vertical-align: middle;
}

#changelist .metadata-icon {
    cursor: pointer;
}

#changelist .displayed-metadata {
    display: none;
    position: absolute;
    border: 1px silver solid;
    background: white;
    z-index: 999;
    padding: .5em;
    max-width: 200px;
    right: 20px;
}

.browse-controls {
    white-space: nowrap;
    display: inline-block;
}

.browse-controls .name {
    font-size: 110%;
    font-weight: bold;
}

.browse-controls a {
    display: inline-block;
}

.folder-toggle, .browse-controls .preview {
    margin-right: .5em;
}

.folder-toggle {
    width: 16px;
    height: 16px;
    background: url(../img/icons/folder-toggle.png) no-repeat;
    display: inline-block;
}

.folder-toggle span {
    visibility: hidden;
}

.collapsed .folder-toggle {
    background-position: 0 0;
}

.collapsed .folder-toggle:hover {
    background-position: 0 100%;
}

.expanded .folder-toggle {
    background-position: 100% 0;
}

.expanded .folder-toggle:hover {
    background-position: 100% 100%;
}

#content h1 {
    /* assign loading gif to some element for preloading */
    background: url(../img/icons/folder-toggle-loading.gif) no-repeat -9999px;   
}

#changelist table .loading .folder-toggle {
    background-image: url(../img/icons/folder-toggle-loading.gif);
}

#changelist.loading th.action-checkbox-column {
    background-image: url(../img/icons/folder-toggle-loading.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#changelist.loading th.action-checkbox-column input {
    display: none !important;
}

.folder-toggle.dummy {
    background-image: none;
}

.collapsed .icon.expanded {
    display: none;
}

.expanded .icon.collapsed {
    display: none;
}

.ui-state-highlight {
    background: red;
}

.browse-controls .thumbnail, .browse-controls .icon, .browse-controls .thumbnail img, .browse-controls .icon img {
    display: inline-block;
}

.browse-controls .thumbnail {
    float: none;
}

#changelist td {
    text-align: left !important;
}

#changelist tr {
    height: 2em;
}

.queue {
    background: #F0F0F0;
}

.drag-helper {
    background: white;
    border: 1px #CCC solid;
    padding: 5px;
    border-radius: 4px;
    -moz-box-shadow: 0px 3px 7px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, .2);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, .2);
    border-radius: 3px;
    box-shadow: 0px 3px 7px #666;
}

#content-main .thumbnail {
    display: inline-block;
    border: 1px #CCC solid;
    padding: 3px;
    background: white;
    border-radius: 3px;
    line-height: 1px;
    -moz-box-shadow: 0px 3px 7px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, .1);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, .1);
}

.drag-helper.copy {
    padding-left: 1.5em;
    background: white url(../img/icons/copy.png) no-repeat .4em center;
}

.drag-helper td {
    border: none;
}

.drop-parent, .drop-parent td {
    background: #bad0e6;
    -webkit-transition: background .5s; /* Chrome, Safari, Opera */
    transition: background .5s;
}

.drop-sibling, .drop-sibling td {
    border-top: 3px solid #bad0e6;
}

.drag-counter {
    background: #ee6666;
    border-radius: 16px;
    border: 1px white solid;
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 1em;
    text-align: center;
    line-height: 30px;
    -moz-box-shadow: 0px 2px 5px #666;
    -webkit-box-shadow: 0px 2px 5px #666;
    box-shadow: 0px 2px 5px #666;
}

.upload-error {
    color: red !important;
}

.upload-success {
    color: inherit !important;
}

.upload-progress-bar-container {
    display: inline-block;
    background: darkgray;
    width: 80px;
    margin: 0 1em 0 1em;
}

.upload-progress-bar {
    display: inline-block;
    background: #5B80B2;
    width: 1px;
    padding: 0;
    font-size: .8em;
    color: white;
}

.upload-progress-bar.complete {
    /*display: none !important;*/
    background: lightgray;
}