.thumbnails {
    margin-right: 160px;
}

.thumbnails li {
    float: left; 
    width: 260px; 
    height: 190px; 
    list-style-type: none; 
    text-align: center; 
    padding: 1em;
}

.ui-slider-handle {
    cursor: pointer;
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2;
    background: #CCC;
}

.ui-slider.no-js .ui-slider-handle {
    background: transparent;
}

.ui-slider-handle.ui-state-active {
    background: #AAA !important;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.6em;
    top: -0.3em;
}

.ui-slider a span {
    display: none;
}

.ui-slider.no-js a, .ui-slider.no-js .ui-slider-handle {
    display: inline-block;
    position: relative;
}

.thumbnail-size-slider.ui-slider.no-js .ui-slider-handle {
    width: 20%;
    margin-left: 0;
    margin-right: 0;
}

.ui-slider-horizontal {
    height: 0.6em;
    width: 10em;
    top: .2em;
}

.ui-slider {
    position:relative;
    text-align:left;
    
    border: 1px #CCC solid;
    display: inline-block;
    cursor: pointer;
}

.view-options {
    font-size: 10px;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -2.4em;
    margin-bottom: -2em;
    margin-right: 0px;
    width: 115px;
}

.thumbnail-size-slider {
    width: 100px;
}

.object-tools.with-view-options {
    margin-right: 120px;
}

.view-options li {
    display: block;
    float: left;
    padding: 0 0 0 8px;
    margin-left: 2px;
    height: 16px;
}

.popup-buttons {
    position: fixed; 
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    padding: 1em 0 1em 0;

    background: #E0E0E0 !important;
    border-top: 1px solid #ddd !important;
    overflow: hidden;
}

.popup-buttons input {
    margin-right: 1em;
}



#filenode_form .thumbnail {
    display: block;
    position: relative;
    width: auto;
}

form .caption {
    display: none;
}

fieldset.hidden {
    display: none !important;
}

.filesize {
    white-space: nowrap;
}

.object-tools li.target-folder {
    background: none;
    margin-right: 1em;
}

ul.node-tools {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

ul.node-tools li {
    display: inline-block; 
    margin: 0 1em 0 0;
    padding: 0;
    list-style-type: none;
}

ul.node-tools li:last-child {
    margin: 0;
}

#changelist .metadata {
    position: relative;
    display: inline-block;
}

#changelist .metadata-icon {
    cursor: pointer;
}

#changelist .displayed-metadata {
    display: none;
    position: absolute;
    border: 1px silver solid;
    background: white;
    z-index: 999;
    padding: .5em;
    max-width: 200px;
    right: 20px;
}

.browse-controls {
    white-space: nowrap;
    display: inline-block;
}

.browse-controls .name {
    font-size: 110%;
    font-weight: bold;
}

.browse-controls a {
    line-height: 16px;
    display: inline-block;
}

.browse-controls .folder-toggle, .browse-controls .preview {
    margin-right: .5em;
}

.folder-toggle {
    width: 16px;
    height: 16px;
    background: url(../img/icons/folder-toggle.png) no-repeat;
    display: inline-block;
}

.folder-toggle span {
    visibility: hidden;
}

.collapsed .folder-toggle {
    background-position: 0 0;
}

.collapsed .folder-toggle:hover {
    background-position: 0 100%;
}

.expanded .folder-toggle {
    background-position: 100% 0;
}

.expanded .folder-toggle:hover {
    background-position: 100% 100%;
}

.loading .folder-toggle {
    background-image: url(../img/icons/folder-toggle-loading.gif);
}

.folder-toggle.dummy {
    background-image: none;
}

.collapsed .icon.expanded {
    display: none;
}

.expanded .icon.collapsed {
    display: none;
}

.ui-state-highlight {
    background: red;
}

.browse-controls .thumbnail, .browse-controls .icon, .browse-controls .thumbnail img, .browse-controls .icon img {
    display: inline-block;
}

.browse-controls .thumbnail {
    float: none;
}

#changelist td {
    text-align: left !important;
}