{% spaceless %}
{% load thumbnail %}

{% if preview_file %}
<span class="preview {% if preview_file.is_icon %}icon{% else %}thumbnail{% endif %}{% if class %} {{ class }}{% endif %}">
    {% if not preview_file.is_icon %}
        {% thumbnail preview_file "80x80" sharpen as thumb %}
        <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ node.alt }}" />
    {% else %}
        <img src="{{ preview_file.url }}" alt="{{ node.alt }}" />
    {% endif %}
</span>
{% endif %}
{% endspaceless %}