{% load i18n string_repeat %}

<div class="breadcrumbs">
    {% if not is_popup %}
    <a href="../../../">
        {% trans "Home" %}
    </a>
    &rsaquo; 
    <a href="../../">
        {{ app_label|capfirst }}
    </a>
    {% endif %}
    {% for path_node in node.get_node_path %}
    &rsaquo; 
    {% if not forloop.last or breadcrumbs_title %}<a href="{% if not path_node.is_top_node %}{{ path_node.get_admin_url }}{% else %}../{% endif %}">{% endif %}
    {{ path_node.name }}
    {% if not forloop.last or breadcrumbs_title %}</a>{% endif %}
    {% endfor %}
    {% if breadcrumbs_title %}
    &rsaquo; {{ breadcrumbs_title }}
    {% endif %}
</div>
