{% spaceless %}{% load i18n media_tree_admin %}
<li class="view-options thumbnail-sizes square">
    {% for key, size in thumbnail_sizes.items %}
    <a class="{% if key == thumbnail_size_key %}active{% endif %}" href="{% query_string thumbnail_size=key %}"><span class="icon" style="width: {% widthratio size.0 8 1 %}px; height: {% widthratio size.1 8 1 %}px;"></span><span class="label">{{ key }}</span></a>
    {% endfor %}
</li>
<li class="view-options">
    <a class="{% if not list_type %}active{% endif %}" href="{% query_string list_type="" %}"><span class="label">{% trans "Tree" %}</span></a>
    <a class="{% if list_type == 'stream' %}active{% endif %}" href="{% query_string list_type="stream" %}"><span class="label">{% trans "Stream" %}</span></a>
</li>
{% endspaceless %}
