{% extends "admin/tree_change_list_base.html" %}
{% load i18n media_tree_admin admin_list %}

{% block extrahead %}
{{ block.super }}
{% include "admin/media_tree/filenode/includes/uploader_button_js.html" %}
{% comment %}
Since the FileNodeAdmin's Media class can't use reverse to determine the jsi18n URL,
it is embedded here.
{% endcomment %}
<script type="text/javascript" src="{% url "admin:media_tree_jsi18n" %}"></script>

{% endblock %}

{% block breadcrumbs %}
    {% if not node %}
        {{ block.super }}
    {% else %}
        {% include "admin/media_tree/filenode/includes/breadcrumbs.html" %}
    {% endif %}
{% endblock %}

{% block object-tools %}
    <ul class="object-tools">
    {% if has_add_permission %}
        <li class="target-folder"><form id="upload-form" onsubmit="return false;">{{ upload_form.as_p }}</form></li>
        <li class="changelist-file-uploader">
            <a id="uploader-button" href="javascript:void(0)" class="addlink">
            <span class="caption">{% trans "Upload files" %}</span>
            </a>
        </li>
        {% comment %}
        <li class="traditional-upload">
            <a href="{% url "admin:media_tree_filenode_add" %}?parent=&{% if is_popup %}_popup=1{% endif %}" class="addlink">
            {% trans "Add file" %}
            </a>
        </li>
        {% endcomment %}
        <li>
            <a id="object-tool-add-folder" href="{% url "admin:media_tree_filenode_add_folder" %}{% if is_popup %}?_popup=1{% endif %}" class="addlink folder">
            <span class="caption">{% trans "Add folder" %}</span>
            </a>
        </li>
    {% endif %}
    </ul>
{% endblock %}

{% block filters %}
    <div id="changelist-filter">
      <h2>{% trans 'View' %}</h2>
      <ul class="view-options list-type">
          {% include "admin/media_tree/filenode/includes/list_type_controls.html" %}
      </ul>
      {% if thumbnail_sizes %}
      <ul class="view-options thumbnail-sizes clearfix">
          {% include "admin/media_tree/filenode/includes/thumbnail_size_controls.html" %}
      </ul>
      {% endif %}
      {% if cl.has_filters %}
      <h2>{% trans 'Filter' %}</h2>
      {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
    </div>
  {% endif %}
{% endblock %}


{% block result_list %}
{% if list_type == 'stream' %}
{% result_tree_flat cl request %}
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}
